<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Организационная структура</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>&#1054;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1086;&#1085;&#1085;&#1072;&#1103; &#1089;&#1090;&#1088;&#1091;&#1082;&#1090;&#1091;&#1088;&#1072;</b>
			(<span class="i18n-viewpoint-organization"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_organization" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/b8cc9c4f-6775-4788-af0c-06d41182f74f.png" alt="Организационная структура" usemap="#b8cc9c4f-6775-4788-af0c-06d41182f74fmap">
			<map name="b8cc9c4f-6775-4788-af0c-06d41182f74fmap">
						<area shape="rect" coords="10,99,146,154" href="../elements/d9a12aeb-804a-4dc6-bd5c-aeaea92123e9.html"  target="element">
								<area shape="rect" coords="310,82,443,155" href="../elements/3a8ca890-c5d0-4eb5-af86-2c6b157c56e7.html"  target="element">
								<area shape="rect" coords="304,178,449,233" href="../elements/4e8b2b3c-c898-49bb-9bad-fb170f5451fd.html"  target="element">
								<area shape="rect" coords="317,274,437,329" href="../elements/86f39125-0c25-4283-bfc9-e75adaff8762.html"  target="element">

						<area shape="rect" coords="262,10,486,352" href="../elements/7ff50589-0817-4b59-abb0-159027f79d38.html"  target="element">
						<area shape="rect" coords="574,99,694,215" href="../elements/128dafcf-151f-43cd-8f90-4b8efffeb7c8.html"  target="element">
						<area shape="rect" coords="14,178,142,233" href="../elements/b397aab6-012a-40c3-b7a7-88a7d905c0de.html"  target="element">
						<area shape="rect" coords="18,274,138,329" href="../elements/cd259e45-6b48-4f69-9df7-b8aeef7a384b.html"  target="element">
						<area shape="rect" coords="574,274,694,329" href="../elements/43026948-20ea-4c01-9407-76c3f765f2b2.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/d9a12aeb-804a-4dc6-bd5c-aeaea92123e9.html" target="element"> &#1040;&#1076;&#1084;&#1080;&#1085;&#1080;&#1089;&#1090;&#1088;&#1072;&#1090;&#1086;&#1088; &#1076;&#1086;&#1087;&#1086;&#1083;&#1085;&#1080;&#1090;&#1077;&#1083;&#1100;&#1085;&#1099;&#1093; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1081; </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
											<tr><td> <a href="../elements/7ff50589-0817-4b59-abb0-159027f79d38.html" target="element"> &#1050;&#1072;&#1092;&#1077;&#1076;&#1088;&#1072; &#1074;&#1091;&#1079;&#1072; </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
													<tr><td> <a href="../elements/3a8ca890-c5d0-4eb5-af86-2c6b157c56e7.html" target="element"> &#1059;&#1095;&#1077;&#1073;&#1085;&#1072;&#1103; &#1095;&#1072;&#1089;&#1090;&#1100; -&gt; &#1047;&#1072;&#1074; &#1080;&#1083;&#1080; &#1079;&#1072;&#1084;&#1077;&#1089;&#1090;&#1080;&#1090;&#1077;&#1083;&#1100; &#1079;&#1072;&#1074;&#1077;&#1076;&#1091;&#1102;&#1097;&#1077;&#1075;&#1086; </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
													<tr><td> <a href="../elements/4e8b2b3c-c898-49bb-9bad-fb170f5451fd.html" target="element"> &#1055;&#1088;&#1077;&#1087;&#1086;&#1076;&#1072;&#1074;&#1072;&#1090;&#1077;&#1083;&#1100;&#1089;&#1082;&#1072;&#1103; </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
													<tr><td> <a href="../elements/86f39125-0c25-4283-bfc9-e75adaff8762.html" target="element"> &#1041;&#1091;&#1093;&#1075;&#1072;&#1083;&#1090;&#1077;&#1088;&#1080;&#1103; </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
											
											<tr><td> <a href="../elements/128dafcf-151f-43cd-8f90-4b8efffeb7c8.html" target="element"> &#1059;&#1095;&#1077;&#1073;&#1085;&#1099;&#1081; &#1082;&#1086;&#1088;&#1087;&#1091;&#1089; &#1074;&#1091;&#1079;&#1072; </a> </td><td class="i18n-elementtype-Location"></td></tr>
											<tr><td> <a href="../elements/b397aab6-012a-40c3-b7a7-88a7d905c0de.html" target="element"> &#1055;&#1088;&#1077;&#1087;&#1086;&#1076;&#1072;&#1074;&#1072;&#1090;&#1077;&#1083;&#1100; </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
											<tr><td> <a href="../elements/cd259e45-6b48-4f69-9df7-b8aeef7a384b.html" target="element"> &#1041;&#1091;&#1093;&#1075;&#1072;&#1083;&#1090;&#1077;&#1088; </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
											<tr><td> <a href="../elements/43026948-20ea-4c01-9407-76c3f765f2b2.html" target="element"> &#1054;&#1092;&#1080;&#1089; &#1073;&#1091;&#1093;&#1075;&#1072;&#1083;&#1090;&#1077;&#1088;&#1072; </a> </td><td class="i18n-elementtype-Location"></td></tr>

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/977d71b3-5e1a-4b39-87fb-ed45337b0759.html" target="element">  </a> </td>
																		<td> <a href="../elements/977d71b3-5e1a-4b39-87fb-ed45337b0759.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7ff50589-0817-4b59-abb0-159027f79d38.html" target="element"> &#1050;&#1072;&#1092;&#1077;&#1076;&#1088;&#1072; &#1074;&#1091;&#1079;&#1072; </a> </td>
																		<td> <a href="../elements/3a8ca890-c5d0-4eb5-af86-2c6b157c56e7.html" target="element"> &#1059;&#1095;&#1077;&#1073;&#1085;&#1072;&#1103; &#1095;&#1072;&#1089;&#1090;&#1100; -&gt; &#1047;&#1072;&#1074; &#1080;&#1083;&#1080; &#1079;&#1072;&#1084;&#1077;&#1089;&#1090;&#1080;&#1090;&#1077;&#1083;&#1100; &#1079;&#1072;&#1074;&#1077;&#1076;&#1091;&#1102;&#1097;&#1077;&#1075;&#1086; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bde0a03d-af1b-4505-a0bb-b208ba188512.html" target="element">  </a> </td>
																		<td> <a href="../elements/bde0a03d-af1b-4505-a0bb-b208ba188512.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7ff50589-0817-4b59-abb0-159027f79d38.html" target="element"> &#1050;&#1072;&#1092;&#1077;&#1076;&#1088;&#1072; &#1074;&#1091;&#1079;&#1072; </a> </td>
																		<td> <a href="../elements/4e8b2b3c-c898-49bb-9bad-fb170f5451fd.html" target="element"> &#1055;&#1088;&#1077;&#1087;&#1086;&#1076;&#1072;&#1074;&#1072;&#1090;&#1077;&#1083;&#1100;&#1089;&#1082;&#1072;&#1103; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d9c962a2-b89b-4e7b-8f9d-0e5fcd394f91.html" target="element">  </a> </td>
																		<td> <a href="../elements/d9c962a2-b89b-4e7b-8f9d-0e5fcd394f91.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7ff50589-0817-4b59-abb0-159027f79d38.html" target="element"> &#1050;&#1072;&#1092;&#1077;&#1076;&#1088;&#1072; &#1074;&#1091;&#1079;&#1072; </a> </td>
																		<td> <a href="../elements/86f39125-0c25-4283-bfc9-e75adaff8762.html" target="element"> &#1041;&#1091;&#1093;&#1075;&#1072;&#1083;&#1090;&#1077;&#1088;&#1080;&#1103; </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/a36a3eea-e482-4afc-88ae-a058a4106047.html" target="element">  </a> </td>
																				<td> <a href="../elements/a36a3eea-e482-4afc-88ae-a058a4106047.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/3a8ca890-c5d0-4eb5-af86-2c6b157c56e7.html" target="element"> &#1059;&#1095;&#1077;&#1073;&#1085;&#1072;&#1103; &#1095;&#1072;&#1089;&#1090;&#1100; -&gt; &#1047;&#1072;&#1074; &#1080;&#1083;&#1080; &#1079;&#1072;&#1084;&#1077;&#1089;&#1090;&#1080;&#1090;&#1077;&#1083;&#1100; &#1079;&#1072;&#1074;&#1077;&#1076;&#1091;&#1102;&#1097;&#1077;&#1075;&#1086; </a> </td>
																				<td> <a href="../elements/d9a12aeb-804a-4dc6-bd5c-aeaea92123e9.html" target="element"> &#1040;&#1076;&#1084;&#1080;&#1085;&#1080;&#1089;&#1090;&#1088;&#1072;&#1090;&#1086;&#1088; &#1076;&#1086;&#1087;&#1086;&#1083;&#1085;&#1080;&#1090;&#1077;&#1083;&#1100;&#1085;&#1099;&#1093; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1081; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/220eec7f-f829-4a8c-a005-48b20bcbb7be.html" target="element">  </a> </td>
																				<td> <a href="../elements/220eec7f-f829-4a8c-a005-48b20bcbb7be.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/4e8b2b3c-c898-49bb-9bad-fb170f5451fd.html" target="element"> &#1055;&#1088;&#1077;&#1087;&#1086;&#1076;&#1072;&#1074;&#1072;&#1090;&#1077;&#1083;&#1100;&#1089;&#1082;&#1072;&#1103; </a> </td>
																				<td> <a href="../elements/b397aab6-012a-40c3-b7a7-88a7d905c0de.html" target="element"> &#1055;&#1088;&#1077;&#1087;&#1086;&#1076;&#1072;&#1074;&#1072;&#1090;&#1077;&#1083;&#1100; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/fc6ef6db-ce5f-4e6f-8749-73e56261449c.html" target="element">  </a> </td>
																				<td> <a href="../elements/fc6ef6db-ce5f-4e6f-8749-73e56261449c.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/86f39125-0c25-4283-bfc9-e75adaff8762.html" target="element"> &#1041;&#1091;&#1093;&#1075;&#1072;&#1083;&#1090;&#1077;&#1088;&#1080;&#1103; </a> </td>
																				<td> <a href="../elements/cd259e45-6b48-4f69-9df7-b8aeef7a384b.html" target="element"> &#1041;&#1091;&#1093;&#1075;&#1072;&#1083;&#1090;&#1077;&#1088; </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/d3eb7bc8-d2e0-4ee9-89cd-ad3b2771015b.html" target="element">  </a> </td>
																		<td> <a href="../elements/d3eb7bc8-d2e0-4ee9-89cd-ad3b2771015b.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/128dafcf-151f-43cd-8f90-4b8efffeb7c8.html" target="element"> &#1059;&#1095;&#1077;&#1073;&#1085;&#1099;&#1081; &#1082;&#1086;&#1088;&#1087;&#1091;&#1089; &#1074;&#1091;&#1079;&#1072; </a> </td>
																		<td> <a href="../elements/3a8ca890-c5d0-4eb5-af86-2c6b157c56e7.html" target="element"> &#1059;&#1095;&#1077;&#1073;&#1085;&#1072;&#1103; &#1095;&#1072;&#1089;&#1090;&#1100; -&gt; &#1047;&#1072;&#1074; &#1080;&#1083;&#1080; &#1079;&#1072;&#1084;&#1077;&#1089;&#1090;&#1080;&#1090;&#1077;&#1083;&#1100; &#1079;&#1072;&#1074;&#1077;&#1076;&#1091;&#1102;&#1097;&#1077;&#1075;&#1086; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bbe9e705-26e2-4e2f-81b9-4f31d0402349.html" target="element">  </a> </td>
																		<td> <a href="../elements/bbe9e705-26e2-4e2f-81b9-4f31d0402349.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/128dafcf-151f-43cd-8f90-4b8efffeb7c8.html" target="element"> &#1059;&#1095;&#1077;&#1073;&#1085;&#1099;&#1081; &#1082;&#1086;&#1088;&#1087;&#1091;&#1089; &#1074;&#1091;&#1079;&#1072; </a> </td>
																		<td> <a href="../elements/4e8b2b3c-c898-49bb-9bad-fb170f5451fd.html" target="element"> &#1055;&#1088;&#1077;&#1087;&#1086;&#1076;&#1072;&#1074;&#1072;&#1090;&#1077;&#1083;&#1100;&#1089;&#1082;&#1072;&#1103; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0e273568-da5c-4756-aaef-907455f3da27.html" target="element">  </a> </td>
																		<td> <a href="../elements/0e273568-da5c-4756-aaef-907455f3da27.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/43026948-20ea-4c01-9407-76c3f765f2b2.html" target="element"> &#1054;&#1092;&#1080;&#1089; &#1073;&#1091;&#1093;&#1075;&#1072;&#1083;&#1090;&#1077;&#1088;&#1072; </a> </td>
																		<td> <a href="../elements/86f39125-0c25-4283-bfc9-e75adaff8762.html" target="element"> &#1041;&#1091;&#1093;&#1075;&#1072;&#1083;&#1090;&#1077;&#1088;&#1080;&#1103; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>